{{template "base" .}}
{{define "title"}}Success{{end}}
{{define "content"}}
    <script src="https://kit.fontawesome.com/eec6c286f7.js" crossorigin="anonymous"></script>
    <div class="opening-animation">
        <div class="message-container">
            <i class="fab fa-fantasy-flight-games ianim"></i>
            <h1 class="h1anim">Success</h1>
        </div>
    </div>

    <div class="conteiner-fluid" id="success-text">
        <h1>Success</h1>
    </div>
    <style>
        #success-text{
            padding: 0% 40% 0% 40%;
        }
        .opening-animation {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #111;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 1;
            z-index: 9999; /* Set a high z-index to ensure it's on top */
            animation: fadeInAndOut 2s forwards;
        }

        .message-container {
            text-align: center;
            opacity: 0;
            animation: fadeIn 1s forwards, moveUp 1s forwards 1s;
        }

        .ianim {
            font-size: 50px;
            margin-bottom: 20px;
            color: #6200ff; /* Adjust color as needed */
            animation: spin 3s infinite linear;
        }

        .h1anim {
            margin: 0;
            font-size: 28px;
            animation: fadeIn 1s forwards 1s;
        }

        .content {
            display: none;
        }
        @keyframes fadeIn {
            to {
                opacity: 1;
            }
        }

        @keyframes moveUp {
            from {
                transform: translateY(20px);
            }
            to {
                transform: translateY(0);
            }
        }

        @keyframes fadeInAndOut {
            0% {
                opacity: 1;
            }
            25% {
                opacity: 1;
            }
            75% {
                opacity: 0;
            }
            100% {
                opacity: 0;
            }
        }

        @keyframes spin {
            to {
                transform: rotate(360deg);
            }
        }</style>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // After the opening animation, hide the animation container
        const openingAnimation = document.querySelector(".opening-animation");

        openingAnimation.addEventListener("animationend", function() {
            openingAnimation.style.display = "none";
        });
    });
</script>
{{end}}